<a href="https://colab.research.google.com/github/renataomon/Properties_Price/blob/master/Teste.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [4]:
df.head

<bound method NDFrame.head of        created_on property_type  ... metro num_rooms
0      2017-01-13     apartment  ...     1         0
1      2017-01-11     apartment  ...     0         1
2      2017-01-29     apartment  ...     0         3
3      2017-02-18     apartment  ...     0         3
4      2017-02-15     apartment  ...     0         2
...           ...           ...  ...   ...       ...
62384  2017-08-21     apartment  ...     1         3
62385  2017-06-01     apartment  ...     0         2
62386  2017-06-01     apartment  ...     0         2
62387  2017-08-21     apartment  ...     0         2
62388  2017-06-14     apartment  ...     1         1

[62389 rows x 17 columns]>